<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {%block title %}
  <title>Patap</title>
  {% endblock %}
  <!--<link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">-->
  <link href="{{url_for('static', filename='css/bootstrap.css')}}" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css' ) }}">
  <script src="http://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
</head>
<body>
{% block body %}
{% endblock %}
<script src="http://cdn.bootcss.cm/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>